@import "tailwindcss";
@plugin "daisyui" {
 themes: light --default;
}

.report:nth-child(n+85)  { @apply dropdown-end; }

@media (min-width: 768px) {
.report:nth-child(n+70)  { @apply dropdown-end; }
}

.report.is-new {
  .bg-green-500 {
    width: !important 100px;
  }

  .bg-red-500 {
    width: 100px;
  }
}

.report.is-new.bg-green-500 {
  --glow-color: var(--color-green-500);
  animation: 1s ease-out 0s 1 glow;
}

.report.is-new.bg-red-500 {
  --glow-color: var(--color-red-500);
  animation: 1s ease-out 0s 1 glow;
}

@keyframes glow {
  0%, 100% { box-shadow: 0 0 0px var(--glow-color); }
  50%  { box-shadow: 0 0 5px var(--glow-color), 0 0 10px var(--glow-color); }
  20%, 80% { box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color); }
}

